
.backgr{
  background-color: rgb(236, 236, 236);
  min-height: 110vh;
  overflow: hidden;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.loader{
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  &_bacgr{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.4;
  }

  &_styles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  }
}
.loader-bacgr{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.1;
}

.loader-styles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100px;
  background-color: white;

  &__home{
    margin-left: 100px;
    margin-top: 43px;
    font-size: 20px;
  }

  &__logo{
    margin-top: 7px;

    &_icon{
      width: 80px;
      height: 80px;
      margin-bottom: -20px;
      
    }

    &_name{
      font-size: 40px;
      margin-left: 15px;
    }
  }

  &__select{
    margin: auto 10px auto auto;
    position: relative;

    &_icon{
      width: 30px;
      height: 30px;
    }

    &_counter{
      position: absolute;
      left: 18px;
      top: 18px;
      background-color: rgba(255, 0, 0, 0.7);
      width: 15px;
      height: 15px;
      border-radius: 10px;
      text-align: center;
      color: #fafafa;
    }
  }

  &__cart{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

    &_icon{
      width: 30px;
      height: 30px;
    }

    &_counter{
      position: absolute;
      left: 18px;
      top: 18px;
      background-color: rgba(255, 0, 0, 0.7);
      width: 15px;
      height: 15px;
      border-radius: 10px;
      text-align: center;
      color: #fafafa;
    }

  }

  .modDis{
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: auto;

    &_icon{
      width: 40px;
      height: 40px;
    }
  }
}

.items{
  display: grid;
  grid-template-columns: repeat(4, 280px);
  column-gap: 25px;
  row-gap: 25px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  &__item{
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    width: 280px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_name{
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      width: 100%;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &_img{
      width: 180px;
      height: 120px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      margin-bottom: 10px;
    }

    &_price{
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 10px;
    }

    &_btn{
      background-color: #fafafa;
      border: 1px solid rgba(0,0,0,.1);
      padding: 5px;
      border-radius: 5px;
      margin-right: 150px;
      cursor: pointer;
    }

    &_star{
      cursor: pointer;
    }
  }
}

.itemsMod{
  display: flex;
  flex-direction: column;
  column-gap: 25px;
  row-gap: 25px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  .items__item{
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_name{
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      width: 100%;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &_img{
      width: 280px;
      height: 220px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      margin-bottom: 10px;
    }

    &_price{
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 50px;
    }

    &_btn{
      background-color: #fafafa;
      border: 1px solid rgba(0,0,0,.1);
      padding: 5px;
      border-radius: 5px;
      margin-right: 850px;
      cursor: pointer;
    }

    &_star{
      cursor: pointer;
    }
  }
}

.form-container{
    position: fixed;
    right: 30px;
    top: 135px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    .form{
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      background-color: #fafafa;

      span{
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      }

      &__input{
        margin-top: 5px;
        margin-bottom: 10px;
      }

      &__input_err{
        border: 1px solid rgba(255, 0, 0, 0.7);
      }

      &__input_errtxt{
        color: rgba(255, 0, 0, 0.7);
        margin-top: -8px;
        margin-bottom: 10px;
      }

      &__submit{
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }
}

.btn{
  margin-right: 20px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed   ;
  left: 40%;
  top: 40%;



  .modOver{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;  
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; 
  
}

.modWind{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    background-color: #ffffff;
    z-index: 10;

    .modHeader{
      display: flex;
      margin-bottom: 40px;

      .headerTitle{
        text-transform: uppercase;  
      }

        .headerClose{
        margin-left: 120px;
        cursor: pointer;
      }
    }

    .modText{
      margin-bottom: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .modFooter{
      margin-bottom: 10px;

      .btnMod{
        border: 1px solid #5c5c5c;
        border-radius: 5px;
        
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}

